# eauth express http port
EAUTH_PORT=8080

# your brand name
EAUTH_BANNER=VERV_ID
# morgan logger
EAUTH_LOGGING=true
# prefix showing with token
EAUTH_MESSAGE_PREFIX=verv
# rpc for ENS and contract wallets
EAUTH_RPC_URL=https://goerli.infura.io/v3/892ea7f9c4804d9abfea1bd0a2090cab
# session lifetime for OAuth
EAUTH_SESSION_TIMEOUT=60000
#  app secret
EAUTH_SECRET=YOUR_SECRET_HERE

# component configs
# Show wallet selection or injected only
EAUTH_WALLETMODAL=true
# isValidSignature feature for ERC-1271
EAUTH_COMPONENTS_CONTRACT=true
# ENS feature for OAuth and contract wallet
EAUTH_COMPONENTS_ENS=true
# OAuth component
EAUTH_COMPONENTS_OAUTH=true
# qrcode for remote login
EAUTH_COMPONENTS_QRCODE=true
EAUTH_COMPONENTS_UI=true

# Eauth DB configs
# If the dialect is sqlite, the DB filename is hardcoded to be eauth.sqlite.
# You also need to additionally install the sqlite3 npm package.
EAUTH_DB_DIALECT=postgres
EAUTH_DB_HOST=127.0.0.1
EAUTH_DB_PORT=5432
EAUTH_DB_USER=postgres
EAUTH_DB_PASSWORD=foobar
EAUTH_DB_NAME=eauth

# OAuth DB configs
# If the dialect is sqlite, the DB filename is hardcoded to be eauth.sqlite.
# You also need to additionally install the sqlite3 npm package.
EAUTH_OAUTH_DB_DIALECT=postgres
EAUTH_OAUTH_DB_HOST=127.0.0.1
EAUTH_OAUTH_DB_PORT=5432
EAUTH_OAUTH_DB_USER=postgres
EAUTH_OAUTH_DB_PASSWORD=foobar
EAUTH_OAUTH_DB_NAME=eauth

# Insert a client config when the server starts
EAUTH_CLIENT_NAME=verv
EAUTH_CLIENT_ID=verv_id
EAUTH_CLIENT_SECRET=verv_client_secret
EAUTH_REDIRECT_URI=http://localhost:8000/callback
